<tr class="b-routers__line b-routers__line_have-flag_yes">
    <td class="b-routers__item b-routers__item_type_flag"></td>
    <td class="b-routers__item">
        <div class="b-routers__time b-routers__time_type_departure">
            00:46
        </div></td>
    <td class="b-routers__item b-routers__item_type_gap">
        <div class="gap" style="margin: 0 6px 0 10px;"></div></td>
    <td class="b-routers__item b-routers__item_type_route" data-bem="{&quot;b-routers__item&quot;:{}}">
        <div class="b-routers__info">
            <div class="b-icon-carrier b-icon-carrier_type_suburban"></div>
            <div class="b-routers__number-transport b-routers__number-transport_type_false">
                6601
            </div>
            <div class="b-routers__company">
                СЗППК
            </div>
        </div>
            <a class="b-link i-pressed-controller i-bem" data-bem="{&quot;b-link&quot;:{&quot;url&quot;:&quot;/thread/6601_0_9602494_g18_4/?departure=2018-01-19&quot;},&quot;i-pressed-controller&quot;:{}}" href="/thread/6601_0_9602494_g18_4/?departure=2018-01-19">
                <span class="b-link__item">Московский</span>
                <span class="b-link__item">вокзал</span>
                <span class="b-link__item">—</span>
                <span class="b-link__item">Тосно</span>
                <div class="b-routers__time b-routers__time_with-indicator_yes b-routers__time_type_in-path" data-bem="{&quot;b-routers__time&quot;:{}}">
                    зупинки: усюди
                    <br>щоденно
                </div>
            </a>
    </td>
    <td class="b-routers__item b-routers__item_type_last-column"></td>
</tr>